body{
    background-color: chocolate;
}
h1{ 
    color: aquamarine;
}
h2{
    color:blueviolet
}
h3{
    color: brown;
}
h4{
    color: blue;
}
h5{
    color: blanchedalmond;
}
h6{
    color: aqua;
}